<!DOCTYPE html>
<html lang="ja">
<!-- num,level,Q,A,rank,diff,updiff -->
<head>
    <meta charset="UTF-8">
    <title>AtCoder Phrase Search</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="https://unpkg.com/vue-simple-suggest"></script>
    <script src="https://unpkg.com/vuejs-paginate@2.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js"></script>
    <script src="https://kit.fontawesome.com/7dc3015a44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-suggest/dist/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css">
    <!-- <link rel="stylesheet" href="styles.css"> -->

</head>

<body>
    <div id="app">
        <nav class="navbar has-shadow is-fixed-top">
            <div class="container">
                <!-- ページ遷移ボタン -->
                <div class="navbar-brand">
                    <p class="navbar-item">
                            <button class="pagination-button" @click="prevPage">＜</button> <!-- 前へ移動するボタン -->
                            <input type="number" v-model.number="currentPage" @change="pageChanged" min="1" :max="getPageCount" >
                            <button class="pagination-button" @click="nextPage">＞</button> <!-- 次へ移動するボタン -->
                    </p>

                    <p class="navbar-item">{{ parPage * (currentPage - 1) + 1 + '〜' + min(filteredItems.length,parPage * currentPage) + ' / ' + filteredItems.length }}</p>
                    <!-- <div class="navbar-burger burger" @click="isOpenMenu = !isOpenMenu">
                        <span></span><span></span><span></span>
                    </div> -->
                </div>
                <!-- <div class="navbar-menu" :class="{ 'is-active': isOpenMenu }">
                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable"><a class="navbar-link">Menu</a>
                            <div class="navbar-dropdown">
                                <hr class="navbar-divider" />
                                <a class="navbar-item">
                                    <span class="icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span>import</span>
                                    <input style="cursor: hand" class="file-input" @change="OpenDialog" type="file"
                                        accept=".csv" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </nav>
        <section class="hero is-info mt-6">
            <div class="hero-body">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p>
                            ABC200~349, ARC104~150までの問題と公式解説に出てくる語句を検索できるよ
                            </p><br>
                            <div class="content">
                                <div class="control has-icons-left has-icons-right">
                                    <vue-simple-suggest v-model="searchWord" 
                                        :filter-by-query="true" placeholder="検索">
                                    </vue-simple-suggest>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <header class="card-header" @click="isOpenSearchOption = !isOpenSearchOption">
                            <p class="card-header-title">
                                Search Option
                            </p>
                            <button class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas"
                                        :class="{ 'fa-angle-down': isOpenSearchOption, 'fa-angle-right': !isOpenSearchOption }"
                                        aria-hidden="true">
                                    </i>
                                </span>
                            </button>
                        </header>

                        <!-- Search Option -->
                        <template v-if="isOpenSearchOption">
                            <div class="card-content">
                                <div class="content">
                                    
                                    <!-- <div class="field" v-for="(col, index) in csvColsObj.slice(0, 1)">
                                        
                                        <label class="label checkbox">
                                            {{ col.name }}
                                        </label>
                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox">
                                                    <input type="checkbox" v-model="col.isSearchNumber" checked="checked">
                                                    数値比較：
                                                </label>
                                                <template v-if="col.isSearchNumber">
                                                    <label class="radio">
                                                        <input type="radio" :name="col.name + index" @change="setNumSearchCol(index, 'eq')" checked="checked">
                                                        同じ
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" :name="col.name + index" @change="setNumSearchCol(index, 'ge')" value="ge">
                                                        以上
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" :name="col.name + index" @change="setNumSearchCol(index, 'le')" value="le">
                                                        以下
                                                    </label>
                                                </template>
                                            </div>
                                        </div>
                                        <div class="control">
                                            <vue-simple-suggest v-model="col.searchWord" placeholder="検索"
                                                :filter-by-query="true">
                                            </vue-simple-suggest>
                                        </div>

                                    </div> -->

                                    

                                    <div class="field" v-for="col in csvColsObj.slice(1, 2)">

                                        <label class="label checkbox">
                                            Contest
                                        </label>
                                        <div class="field">
                                            <div class="control">

                                                <label class="checkbox">
                                                    <!-- <input type="checkbox" v-model="col.selectedContest" value="ABC"> ABC -->
                                                    <input type="checkbox" v-model="col.selectedContestABC"> ABC
                                                </label>
                                                <label class="checkbox">
                                                    <!-- <input type="checkbox" v-model="col.selectedContest" value="ARC"> ARC -->
                                                    <input type="checkbox" v-model="col.selectedContestARC"> ARC
                                                </label>
                                                
                                            </div>
                                        </div>

                                        <label class="label checkbox">
                                            Level
                                        </label>
                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox" v-for="level in LevelSet" :key="level">
                                                    <input type="checkbox" v-model="col.selectedGrades" :value="level">
                                                    {{ level }}
                                                </label>
                                            </div>
                                        </div>

                                        
                                        <div class="field">
                                            <label class="label">Difficulty Range</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model.number="col.difRangeMin" @input="updateRange(col, 'min')">
                                                <input type="number" class="input" v-model.number="col.difRangeMax" @input="updateRange(col, 'max')">
                                                <input type="range" min="-1" :max="DifMaxNum" v-model.number="col.difRangeMin" @input="updateRange(col, 'min')" step="1">
                                                <input type="range" min="-1" :max="DifMaxNum+50" v-model.number="col.difRangeMax" @input="updateRange(col, 'max')" step="1">
                                            </div>
                                            <div>
                                                最小値: {{ col.difRangeMin }}, 最大値: {{ col.difRangeMax }}
                                            </div>
                                        </div>

                                        <!-- <div v-if="col.selectedContest.includes('ABC')" class="field"> -->
                                        <div v-if="col.selectedContestABC" class="field">
                                            <label class="label">ABC Range</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model.number="col.abcNumRangeMin" :min="200" :max="349">
                                                <input type="number" class="input" v-model.number="col.abcNumRangeMax" :min="200" :max="349">
                                                <button class="button is-info" @click="resetValues(col,1)">リセット</button>
                                            </div>
                                        </div>

                                        <!-- <div v-if="col.selectedContest.includes('ARC')" class="field"> -->
                                        <div v-if="col.selectedContestARC" class="field">
                                            <label class="label">ARC Range</label>
                                            <div class="control">
                                                <input type="number" class="input" v-model.number="col.arcNumRangeMin" min="104" max="150">
                                                <input type="number" class="input" v-model.number="col.arcNumRangeMax" min="104" max="150">
                                                <button class="button is-info" @click="resetValues(col,2)">リセット</button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    

                                </div>
                            </div>
                            <footer class="card-footer">
                                <a class="card-footer-item" @click="gridClass = 'is-3'">4 grid</a>
                                <a class="card-footer-item" @click="gridClass = 'is-4'">3 grid</a>
                                <a class="card-footer-item" @click="gridClass = 'is-6'">2 grid</a>
                                <a class="card-footer-item" @click="gridClass = 'is-12'">no grid</a>
                            </footer>
                        </template>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="box cta">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control" v-for="colObj in csvColsObj">
                        <span class="tag is-large button"
                            :class="{'is-black': colObj.isDisplay, 'is-light': !colObj.isDisplay }"
                            @click="colObj.isDisplay = !colObj.isDisplay">
                            {{ colObj.name }}
                        </span>
                    </div>
                </div>
            </div>
        </div> -->
        <section class="container">
            <button @click="toggleReverse"><strong>Reverse</strong></button>
            <div class="level-item">
                <div class="columns is-multiline is-centered cards-container is-mobile" id="sectioncontainer">
                    <div class="column" :class="[getItems.length > 2 ? gridClass : 'is-12' ]"
                        v-for="rowItem in getItems">
                        <article class="message is-black p-3">
                            <div class="message-body">

                                <div>
                                    <a :href="`https://atcoder.jp/contests/${rowItem[4]}${rowItem[0]}/tasks/${rowItem[4]}${rowItem[0]}_${rowItem[1]}`" target="_blank">
                                        <strong>{{rowItem[4]}}{{rowItem[0]}}<br>{{rowItem[7].split('/')[0]}}</strong>
                                    </a>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

</body>
<script>
    // 定数
    const LevelSet = ['A','B','C','D','E','F','G']
    // const LevelSet = ['a','b','c','d','e','f','g'];
    const ContestSet = ['ABC','ARC']
    // const ContestSet = ['abc','arc'];
    const DifMinNum = -1;
    const DifMaxNum = 4134;
    const AbcMaxNum = 349; 
    const AbcMinNum = 200;
    const ArcMaxNum = 150;
    const ArcMinNum = 104;

    function sortCsvByColumn(csvResult, columnIndex) {
  // ディープコピーを作成して元の配列を変更しないようにする
  const sortedResult = csvResult.slice().sort((a, b) => {
    const valA = a[columnIndex];
    const valB = b[columnIndex];

    if (valA < valB) {
      return -1;
    }
    if (valA > valB) {
      return 1;
    }
    return 0;
  });

  return sortedResult;
}



    Vue.component('paginate', VuejsPaginate)
    new Vue({
        el: "#app",
        data: {
            isOpenMenu: false,
            isOpenSearchOption: false,
            gridClass: 'is-4',
            parPage: 20,
            currentPage: 1,
            csvTitle: '',
            csvCols: [],
            csvColsObj: [],
            csvData: [],
            allCsvData: [],
            // numSearchCols: [],
            searchWord: '',
            // suggestList: [],
            directPageInput: '',
            isReversed: false,
        },
        methods: {
            OpenDialog(csvEv) {
                const file = csvEv.target.files[0]
                const reader = new FileReader()
                this.csvTitle = file.name
                reader.onload = (inputCsv) => {
                    const res = inputCsv.target.result;
                    const cleanedData = this.cleanData(res);
                    this.ConvertCsv(cleanedData);
                };
                reader.readAsText(file, "Shift_JIS");
            },

            cleanData(data) {
            //     // 大文字を小文字に変換し、改行、スペース、タブを削除
            //     return data.toLowerCase().replace(/\s+/g, '');
                return data
            },

            ConvertCsv(csvData) {
                Papa.parse(csvData, {
                    complete: (results) => {
                        this.csvCols = results.data[0]
                        this.csvData = results.data.slice(1)
                        this.allCsvData = results.data.slice(1)
                    },
                })
                this.setCsvColsObj()
            },
            RequestCsvPath(csvPath) {
                new Promise((resolve, reject) => {
                    const httpReq = new XMLHttpRequest(); // HTTPでファイルを読み込むためのXMLHttpRrequestオブジェクトを生成、サーバと非同期通信するためのAPI
                    httpReq.open("get", csvPath, true); // アクセスするファイルを指定
                    httpReq.overrideMimeType("text/plain; charset=Shift_JIS");
                    httpReq.onload = () => {
                        this.csvTitle = csvPath;
                        // this.ConvertCsv(httpReq.responseText)
                        const cleanedData = this.cleanData(httpReq.responseText);
                        this.ConvertCsv(cleanedData);
                        resolve()
                    };
                    httpReq.onerror = () => {
                        reject(new Error(httpReq.statusText));
                    };
                    httpReq.send(null); // HTTPリクエストの発行
                });
            },
            paginateClickCallback(pageNum) {
                this.currentPage = Number(pageNum);
            },
            setCsvColsObj() {
                this.csvColsObj = []
                this.csvCols.forEach((col, index) => {
                    // let colSuggestList = []
                    // this.filteredItems.forEach(csvRow => {
                    //     colSuggestList.push(csvRow[index])
                    //     this.suggestList.push(csvRow[index])
                    // })
                    // colSuggestList = Array.from(new Set(colSuggestList))
                    // this.suggestList = Array.from(new Set(this.suggestList))

                    const isDisplay = index === 0;
                    // const selectedContest = col === 'Contest' ? ['ABC'] : []; // Contest列の場合、'ABC'を初期選択とする
                    this.csvColsObj.push({
                        name: col,
                        isSearch: true,
                        isSearchNumber: false,
                        isDisplay: isDisplay,
                        searchWord: '',
                        isSelectedGrade: false,
                        selectedGrades: [],
                        selectedGrades2: [false, false, false, false, false, false, false],
                        selectedContest: [],
                        selectedContestABC: false,
                        selectedContestARC: false,
                        difRangeMin: DifMinNum,
                        difRangeMax: DifMaxNum,
                        abcNumRangeMin: AbcMinNum,
                        abcNumRangeMax: AbcMaxNum, 
                        arcNumRangeMin: ArcMinNum,
                        arcNumRangeMax: ArcMaxNum, 
                        // suggestList: colSuggestList
                    })
                    
                    // 数値検索のモードの初期値を設定する
                    // this.numSearchCols.push('eq')
                })
            },
            // setNumSearchCol(index, searchMode) {
            //     // this.numSearchCols[index] = searchMode
            //     const tmpSearchWord = this.searchWord
            //     this.searchWord = this.searchWord + 'dummy'
            //     this.searchWord = tmpSearchWord
            // },
            min(a, b) {
                return Math.min(a, b);
            },

            // ページ設定
            jumpToPage() {
                const page = parseInt(this.directPageInput, 10);
                if (!isNaN(page) && page > 0 && page <= this.getPageCount) {
                    this.currentPage = page; // currentPageは、現在のページ番号を保持するデータプロパティです
                    this.paginateClickCallback(page); // ページ移動のロジックを実行
                } else {
                    alert('無効なページ番号です。');
                }
                this.directPageInput = ''; // 入力フィールドをリセット
            },
            prevPage() {
                if (this.currentPage > 1) this.currentPage--;
            },
            nextPage() {
                if (this.currentPage < this.getPageCount) this.currentPage++;
            },
            pageChanged() {
                // currentPageが変更されたときのロジック
            },
            toggleReverse() {
                this.isReversed = !this.isReversed;
            },
            // toggleSelection(contest) {
            // const index = this.col.selectedContest.indexOf(contest);
            // if (index !== -1) {
            //     // 選択済みの場合、選択を解除する
            //     this.col.selectedContest.splice(index, 1);
            // } else {
            //     // 選択されていない場合、選択する
            //     this.col.selectedContest.push(contest);
            // }
            // },


            // difficultyの可動域設定
            updateRange(col) {
                if (col.difRangeMin > col.difRangeMax) {
                    let tmp = (col.difRangeMax + col.difRangeMin) / 2;
                    col.difRangeMin = Math.round(tmp);
                    col.difRangeMax = Math.round(tmp);
                }
            },
            adjustRange(value) {
                if (value < 0) return -1;  // -1以下の場合は-1に固定
                if (value >= DifMaxNum) return DifMaxNum;
                return 50 * Math.round(value / 50);  // それ以外は最も近い5の倍数に調整
            },
            updateRange(col, type) {
                const adjustedValue = this.adjustRange(type === 'min' ? col.difRangeMin : col.difRangeMax);
                if (type === 'min') {
                    col.difRangeMin = adjustedValue;
                } else {
                    col.difRangeMax = adjustedValue;
                }
                if (col.difRangeMin > col.difRangeMax) {
                    let tmp = 50 * Math.round((col.difRangeMax + col.difRangeMin) / 100);
                    col.difRangeMin = tmp;
                    col.difRangeMax = tmp;
                }
            },
            resetValues(col,id) {
                if (id===1) {
                    col.abcNumRangeMin = 200; // 初期最小値
                    col.abcNumRangeMax = 349; // 初期最大値
                }
                else {
                    col.arcNumRangeMin = 104; // 初期最小値
                    col.arcNumRangeMax = 150; // 初期最大値
                }
            },

        },
        mounted() {
            // this.RequestCsvPath('ABC_200_344v2.csv')
            // this.RequestCsvPath('ABC_200_349_0416.csv')
            this.RequestCsvPath('conv_ABC2.csv')

            
        },
        computed: {
            // ページに載せるカードを選ぶ
            getItems() {
                const current = this.currentPage * this.parPage;
                const start = current - this.parPage;
                const itemsToShow = this.isReversed ? this.filteredItems.slice().reverse() : this.filteredItems;
                return itemsToShow.slice(start, current);
            },
            filteredItems() {
                // let csvResult = this.csvData
                // if (this.searchWord) {
                //     csvResult = csvResult.filter(csvRow => {
                //         // 全カラムのどこかにsearchWordがあればTrue
                //         return csvRow.filter(csvCol =>
                //             csvCol.includes(this.searchWord)
                //         ).length > 0
                //     })
                // }

                // &機能を実装
                let csvResult = this.csvData; // 元のデータを代入
                if (this.searchWord) {
                    let searchWords = this.searchWord.replace(/\s+/g, '').toLowerCase().split('&'); // 検索語を分割してトリム
                    
                    let filteredResult = []; // 結果を格納するための配列

                    // 各行に対するループ
                    for (let i = 0; i < csvResult.length; i++) {
                        let row = csvResult[i];
                        let allWordsMatch = true; // すべての検索語がマッチしたかのフラグ

                        // 各検索語に対するループ
                        for (let j = 0; j < searchWords.length; j++) {
                            let word = searchWords[j];
                            let wordFound = false; // 現在の検索語がこの行で見つかったかのフラグ

                            // 行内の各列に対するループ
                            for (let k = 0; k < row.length; k++) {
                                if (row[k].includes(word)) {
                                    wordFound = true; // 検索語が見つかった
                                    break; // この検索語は見つかったので内側のループを抜ける
                                }
                            }

                            if (!wordFound) { // この検索語が行内で見つからなかった場合
                                allWordsMatch = false; // すべての語がマッチする条件を満たさない
                                break; // すべての語がマッチする条件が破れたので次の行へ
                            }
                        }

                        if (allWordsMatch) { // この行がすべての検索語を含んでいる場合
                            filteredResult.push(row); // 結果の配列に追加
                        }
                    }

                    csvResult = filteredResult; // フィルタリングされた結果を最終的な結果とする
                }


                this.csvColsObj.forEach((colObj, index) => {

                    // 数字検索のフィルター設定
                    // if (colObj.isSearchNumber && colObj.searchWord) {
                    //     const searchNum = isFinite(colObj.searchWord) ? Number(colObj.searchWord) : 0
                    //     csvResult = csvResult.filter(csvRow => {
                    //                 const csvColNum = Number(csvRow[0])

                    //                 if (this.numSearchCols[index] === 'eq') {
                    //                     return csvColNum === searchNum
                    //                 }
                    //                 if (this.numSearchCols[index] === 'ge') {
                    //                     return csvColNum >= searchNum
                    //                 }
                    //                 if (this.numSearchCols[index] === 'le') {
                    //                     return csvColNum <= searchNum
                    //                 }
                    //     })
                    // }

                    // levelのフィルター設定
                    if (colObj.selectedGrades.length > 0) {
                        csvResult = csvResult.filter(csvRow => {
                            return colObj.selectedGrades.includes(csvRow[1])
                            })
                    }
                    if (colObj.selectedGrades.length === 0) {
                        csvResult = csvResult.filter(csvRow => {
                            return LevelSet.includes(csvRow[1])
                            })
                    }
                    
                    // ABC、ARCのフィルター設定
                    if (!colObj.selectedContestABC && colObj.selectedContestARC) {
                        csvResult = csvResult.filter(csvRow => {
                            console.log(csvRow[4] === 'ARC')
                            return csvRow[4] === 'ARC'
                            })
                    }
                    else if (colObj.selectedContestABC && !colObj.selectedContestARC) {
                        csvResult = csvResult.filter(csvRow => {
                            return csvRow[4] === 'ABC'
                            })
                    }
                    else {
                        csvResult = csvResult.filter(csvRow => {
                            return true
                            })
                    }
                    // if (colObj.selectedContest.length > 0) {
                    //     csvResult = csvResult.filter(csvRow => {
                    //         return colObj.selectedContest.includes(csvRow[4])
                    //         })
                    // }
                    // if (colObj.selectedContest.length === 0) {
                    //     csvResult = csvResult.filter(csvRow => {
                    //         return ContestSet.includes(csvRow[4])
                    //         })
                    // }
                    
                    // if (colObj.selectedContest2[0]===false && colObj.selectedContest2[1]===false ) {
                    //     csvResult = csvResult.filter(csvRow => {
                    //         return colObj.selectedContest.includes(csvRow[4])
                    //         })
                    // }
                    // if (colObj.selectedContest.length > 0) {
                    //     csvResult = csvResult.filter(csvRow => {
                    //         return ContestSet.includes(csvRow[4])
                    //         })
                    // }

                    // Difficultyのフィルター設定
                    csvResult = csvResult.filter(csvRow => {
                        return colObj.difRangeMin <= csvRow[6] && csvRow[6] <= colObj.difRangeMax
                        })
                    
                    // ABC番号のフィルター設定
                    csvResult = csvResult.filter(csvRow => {
                        if (csvRow[4]=='ARC') {
                            return true
                        }
                        return colObj.abcNumRangeMin <= csvRow[0] && csvRow[0] <= colObj.abcNumRangeMax
                        })

                    // ARC番号のフィルター設定
                    csvResult = csvResult.filter(csvRow => {
                        if (csvRow[4]=='ABC') {
                            return true
                        }
                        return colObj.arcNumRangeMin <= csvRow[0] && csvRow[0] <= colObj.arcNumRangeMax
                        })

                })
                console.log(csvResult)
                return csvResult
            },

            getPageCount() {
                let pageCount = Math.ceil(this.filteredItems.length / this.parPage)
                if (this.currentPage > pageCount) {
                    this.currentPage = 1
                }
                return pageCount
            },
        }
    })

</script>

</html>